#project-to-queue-page {
  .options {
    display: flex;

    label {
      display: flex;
      margin-right: 12px;
      user-select: none;

      align-items: center;
    }
  }

  .card-wrapper {
    display: flex;

    flex-direction: column;

    button {
      cursor: pointer;

      width: 100%;
    }
  }
}
