#queue-sort-page {
  .sort-controls {
    display: flex;

    column-gap: 30px;

    &__option {
      user-select: none;

      display: flex;
      flex-direction: column;

      input[type='text'] {
        width: 100px;
      }
    }
  }
}
