#queue-sort-page {
  .sort-controls {
    background: white;
    display: flex;
    padding: 12px 0 12px;

    column-gap: 30px;

    position: sticky;
    top: 0;

    &__option {
      user-select: none;

      display: flex;
      flex-direction: column;

      input[type='text'] {
        width: 100px;
      }
    }
  }

  .content {
    display: flex;

    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 35px;
  }
}
