#random-picker-page {
  .header {
    border-bottom: 1px solid var(--color-accent);
    display: flex;
    padding: 0 0 20px;

    column-gap: 12px;
    flex-wrap: wrap;
    row-gap: 12px;

    width: 100%;
  }

  .content {
    padding: 12px 0 0;
  }
}
