#app-root {
  display: flex;

  width: 100%;

  #sidebar {
    background-color: #f6f3ff;
    border-right: 1px solid #b9a2ff;
    box-sizing: border-box;
    padding: 24px;

    flex-basis: 300px;

    height: 100vh;

    ul {
      list-style: none;
      padding-left: 0;
    }

    li {
      margin-bottom: 12px;
    }

    a {
      color: blue;
      padding: 8px;
      text-decoration: none;

      &.active {
        background: #b9a2ff;
        color: black;
        border-radius: 8px;
      }
    }
  }

  #content {
    flex-grow: 1;
  }
}
