.sidebar-link {
  color: blue;
  padding: 8px;
  text-decoration: none;

  &.active {
    background: #b9a2ff;
    color: black;
    border-radius: 8px;
  }

  &.pending {
    color: gray;

    position: relative;

    &:before {
      content: '⏳';

      position: absolute;
      left: -12px;
      top: 4px;
    }
  }
}
