:root {
  --color-accent: #b9a2ff;
}

body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  margin: 0;
}

.page {
  padding: 24px;
}

input, button {
  font-family: inherit;
  font-size: inherit;
}

p, ul {
  margin-top: 0;
}
