:root {
  --color-accent: #b9a2ff;
}

body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  margin: 0;
}

.page {
  padding: 24px;
}

input, button {
  font-family: inherit;
  font-size: inherit;
}

p, ul {
  margin-top: 0;
}

.header {
  border-bottom: 1px solid var(--color-accent);
  padding: 0 0 20px;

  width: 100%;
}

.content {
  padding: 12px 0 0;

  width: 100%;
}

.block-link {
  color: inherit;
  display: flex;
  text-decoration: none;
}

.card-image {
  background-position: center;
  background-size: cover;
  border: 1px solid black;

  width: 168px;
  height: 168px;
}
